@if (!loading) {
<ion-card>
  <ion-card-header>
    <ion-card-title>{{'Create Todo' | translate}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item lines="none">
        <ion-input [formControl]="title" placeholder="{{'Title' | translate}}*"
          errorText="{{'Invalid name'| translate}}" [clearOnEdit]="false"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input [formControl]="description" placeholder="{{'Description' | translate}}"
          [clearOnEdit]="false"></ion-input>
      </ion-item>
      <ion-select value="{{selectedPriority()}}" (ionChange)="changePriority($event)" interface="popover">
        @if (priorities().length > 0) {
        @for(priority of priorities(); track $index){
        <ion-select-option value="{{priority.priorityCode}}">{{priority.priorityName}}</ion-select-option>
        }
        }
      </ion-select>

    </ion-list>
  </ion-card-content>
</ion-card>
}