<ion-toolbar color="primary">
  <ion-title>
    {{'Listicka'}}
  </ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="changeTheme()">
      Theme
    </ion-button>
    <l-language-switcher></l-language-switcher>
    @if(!profile()){
    <ion-button (click)="goToLogin(true)">
      Login
    </ion-button>
    <ion-button (click)="goToLogin(false)">
      Register
    </ion-button>
    }
    @if(profile()){
    <ion-menu-button autoHide="false"></ion-menu-button>
    }
  </ion-buttons>
</ion-toolbar>