<ion-card>
  <ion-card-header>
    <ion-card-title>{{register? ('Register' | translate) : ('Login' | translate)}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    @if(loading){
    <ion-spinner></ion-spinner>
    }
    @else{
    @if(register){
    <ion-list>
      <ion-item lines="none">
        <ion-label position="floating">{{'Name' | translate}}</ion-label>
        <ion-input [formControl]="name" placeholder="{{'Name' | translate}}" errorText="{{'Invalid name'| translate}}"
          [clearOnEdit]="false"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="floating">{{'Email' | translate}}</ion-label>
        <ion-input type="email" [formControl]="email" placeholder="email@listicka.com"
          errorText="{{'Invalid email'| translate}}" [clearOnEdit]="false"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="floating">{{'Password' | translate}}</ion-label>
        <ion-input type="password" [formControl]="password" placeholder="*****"
          errorText="{{'Invalid password'| translate}}" [clearOnEdit]="false">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
        <div *ngIf="password?.dirty && register && password.invalid">
          <p class="block" [ngClass]="password.value?.match('^(?=.*[A-Z])') ? 'invalid' : 'valid'">
            {{'MissingUpperCase'| translate}}
          </p>
          <p class="block" [ngClass]="password.value?.match('(?=.*[a-z])') ? 'invalid' : 'valid'">
            {{'MissingLowerCase' | translate}}</p>
          <p class="block" [ngClass]="password.value?.match('(.*[0-9].*)') ? 'invalid' : 'valid'">
            {{'MissingDigit'| translate}}</p>
          <p class="block" [ngClass]="password.value?.match('(?=.*[!@#$%^&*])') ? 'invalid' : 'valid'">
            {{'MissingSpecial'|translate}}</p>
          <p class="block" [ngClass]="password.value?.match('.{8,}') ? 'invalid' : 'valid'">
            {{'LessThan8Chars' | translate}}</p>
        </div>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="floating">{{'Confirm Password' | translate}}</ion-label>
        <ion-input type="password" [formControl]="confirmPassword" placeholder="*****"
          errorText="{{'Passwords do not match'| translate}}" [clearOnEdit]="false">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-button [disabled]="password.valid && email.valid && confirmPassword.valid && name.valid ? null : true"
      expand="block" type="submit" (click)="registerUser()">{{'Register' |
      translate}} </ion-button>
    <a (click)="register = false">{{'Login' | translate}}</a>
    }
    @else{
    <ion-list>
      <ion-item lines="none">
        <ion-label position="floating">{{'Email' | translate}}</ion-label>
        <ion-input type="email" [formControl]="email" placeholder="email@listicka.com"
          errorText="{{'Invalid email'| translate}}" [clearOnEdit]="false"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="floating">{{'Password' | translate}}</ion-label>
        <ion-input type="password" [formControl]="password" placeholder="*****"
          errorText="{{'Invalid password'| translate}}" [clearOnEdit]="false">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
        <div *ngIf="password?.dirty && register && password.invalid">
          <p class="block" [ngClass]="password.value?.match('^(?=.*[A-Z])') ? 'invalid' : 'valid'">
            {{'MissingUpperCase'| translate}}
          </p>
          <p class="block" [ngClass]="password.value?.match('(?=.*[a-z])') ? 'invalid' : 'valid'">
            {{'MissingLowerCase' | translate}}</p>
          <p class="block" [ngClass]="password.value?.match('(.*[0-9].*)') ? 'invalid' : 'valid'">
            {{'MissingDigit'| translate}}</p>
          <p class="block" [ngClass]="password.value?.match('(?=.*[!@#$%^&*])') ? 'invalid' : 'valid'">
            {{'MissingSpecial'|translate}}</p>
          <p class="block" [ngClass]="password.value?.match('.{8,}') ? 'invalid' : 'valid'">
            {{'LessThan8Chars' | translate}}</p>
        </div>
      </ion-item>
    </ion-list>

    <ion-button [disabled]="password.valid && email.valid ? null : true" expand="block" type="submit"
      (click)="loginUser()">{{'Login'
      | translate}}</ion-button>
    <a (click)="register = true">{{'Register' | translate}}</a>
    }
    }
  </ion-card-content>
</ion-card>